name: Secrets | Reusable Workflow Demo

on:
  workflow_dispatch:
    inputs:
      username:
        required: true
        type: string

jobs:
  gitHub-reusable-wf-secret:
    uses: dsrinivasa/reusable-wf/.github/workflows/secrets_test.yaml@main
    with:
      username: test
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  gitHub-reusable-wf-secret1:
    uses: dsrinivasa/reusable-wf/.github/workflows/secrets_test.yaml@main
    with:
      username: test
      token: ${{ secrets.GITHUB_TOKEN }}
           
    
